*{
	margin: 0;
	color: 	#FFFAFA;
	box-sizing: border-box;
}
body{
	background-color: #fff;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtc07JDFwIRNy5JZFcKgXCyABdk2ToQ5uJpg&usqp=CAU);
	box-shadow: 700px 700px 700px #888;
	background-repeat: no-repeat;
    background-size: 1400px 400px;


}
/*navbar*/
.nav-link{
	color: #fff;
}
/*home*/
img{
	width: 330px;
	height: 417px;
	margin-right: 100px;
}
.float-left{
	margin-top: 100px;
}
#home{
	margin-left: 30px;
}
#home>h1, #home>h2{
	font-size: 1em;
}
#home>p{
	font-size: 1.8em;
	hyphens: manual;
    
}
#home>span {
  content: "\2010";
}

.container{
	position: absolute;
	bottom: 0;
	left: 0;


}
.container>p{
	color: #000;

}
h3{
	color: #094BCF;
}
#about>img{
	width: 125px;
	height: 35px;

}
#products>img{
	width: 273px;
	height: 253px;
	float: right;
	margin-bottom: -50px;
	margin-right: -100px;
}
/* Extra small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { 
    .container{
    	display: none;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) and (min-width: 575px){ 
     }

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { 
     #about,#products{
     	margin-bottom: -100px;
     }
 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

