*{
	
	color: 	#FFFAFA;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	background-color: #fff;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtc07JDFwIRNy5JZFcKgXCyABdk2ToQ5uJpg&usqp=CAU);
	box-shadow: 700px 700px 700px #888;
	background-repeat: no-repeat;
    background-size: 2560px 500px;
}
.nav-link{
	color: #fff;
}
.hero{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
   grid-template-rows: 100%;
   align-items: center;


}
#about>h3, #about>p{
	color: #000;
}
.details>p{
	font-size: 20px;
}
.container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
   grid-template-rows: 100%;
   align-items: center;
   margin-top: -50px;

}
.first-image{
	margin-top: -60px;
}


/* Extra small devices (portrait phones, less than 576px)*/

@media screen and (max-width: 421px) {
	body{
      background-size: 422px 910px ;
      
    }
    .hero{
    	grid-template-rows: repeat(4, 1fr);
    }
    .first-image{
    	grid-row: 2/4;
    	margin-top: 0px;
    }
    .container{
    	grid-template-rows: repeat(4, 1fr);
    }

    
   }
@media(max-width: 576px) and (min-width: 422px){
	body{
		background-size: 600px 910px;
	}
	.hero{
		grid-template-rows: repeat(4, 1fr);
	}
	.first-image{
		grid-row: 2/4;
		margin-top: 0px;
	}

}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) and (min-width: 575px){ 
	body{
		background-size: 769px 500px;
	}
	.container{
		margin-top: -50px;
     }
     .hero{
     	grid-template-columns: repeat(4, 1fr);
     }
     .first-image{
     	grid-column: 4/4;
     	margin-top: -70px;
     }
	}

/* Large devices (desktops, 992px and up)*/
@media screen and(min-width: 992px) { 
    .hero{
     	grid-template-columns: repeat(4, 1fr);
     }
     .first-image{
     	margin-top: -70px;
     	grid-column: 4/4;
     }
     .container{
        grid-template-rows: repeat(4, 1fr);
        margin-top: -200px;
     }
     #about{
     	margin-left: 0px;
     }

 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

